.App {
  text-align: center;
  padding: 80px;
  font-size: 18px;
}

button {
  background-color: rgb(195, 200, 203);
  margin: 24px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 18px;
}

.form-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

form {
  border: 2px solid rgb(195, 200, 203);
  border-radius: 4px;
  width: 50vw;
  max-width: 800px;
  display: grid;
  place-items: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding-bottom: 48px;
}

.form-control {
  margin-top: 16px;
  display: flex;
  gap: 4px;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.pledged-container{

}

.pledged-amount {
  font-size: 24px;
}

.pledged-description {

}